*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgba(211, 211, 211, 0.185); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}
header a.logo{
    font-size: 50px;
    text-decoration: none;
    margin-left: 70px;
    color: blue;
}
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li{
    margin-right: 50px;
}
header ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 6px 15px;
    border-radius: 20px;
    font-weight: 900;
}
header ul li a:hover{
    color: blue;
    transition: 1s ease;
}

.reserve {
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #01022db9 30%,rgba(0, 0, 0, 0)),url('res1.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 95%;
    height: 600px;
    max-height: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    color: white;
}

.reserve .titre {
    width: 50%;
    padding: 20px;
    
}

.reserve .titre p {
    font-size: 30px;
    line-height: 1.5;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    color: white;
}

.reserve .form {
    width: 400px;
    border: 2px solid white;
    backdrop-filter: blur(10px);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
    border-radius: 10px;
}

.reserve .form h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.reserve .form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #111111;
    font-weight: bold;
}

.reserve .form select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.reserve .form input[type="date"] {
    width: 94.5%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.reserve .form input[type="date"]:focus, .reserve .form select:focus{
    border-color: black;
    outline: none;
} 

.reserve .form .submit {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #05366b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    font-weight: bold;
}

.reserve .form .submit:hover {
    background-color: orange;
    color: black;
}
span{
    margin-left: 5px;
}
.check{
    margin-bottom: 15px;
    cursor: pointer;
}
.return {
    display: none; 
    margin-top: 5px; 
}
.OurCartypes{
    margin-top: 30px;
    display: flex;
}
.OurCartypes h1{
    /* font-size: 25px; */
    font-weight: 900;
    margin-top: 50px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 50px;
}


.content {
    margin-top: 30px;
    /* margin-bottom: 30px; */
    text-align: center;
    padding: 20px;
    /* background-color: #f8f9fa; */
}
.content h1 {
    /* font-size: 25px; */
    font-weight: 900;
    margin-top: 50px;
    color: black;
    text-transform: uppercase;
    text-align: center;
}
.whyUs {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.ostol, .prix, .reserveeee, .client {
    border-radius: 10px;
    /* background-color: white; */
    border: 2px solid blue;
    width: 400px;
    height: auto;
    padding: 20px;
    /* margin: 10px; */
    transition: 0.3s ease;
}
.ostol h3, .prix h3, .reserveeee h3, .client h3 {
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
}
.ostol p, .prix p, .reserveeee p, .client p {
    color: #555;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
}
hr {
    border: none;
    border-top: 1px solid blue;
    margin: 10px 0;
}
footer{
    margin-top: 30px;
    width: 100%;
    background-color: lightslategrey;
    /* height: auto; */
}
footer .informations ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: 200px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;

    box-sizing: border-box;
    
}
footer .informations ul li{
    list-style: none;
    /* height: 100vh; */
    padding: 20px;
    margin: 20px;
}
footer .informations ul li i{
    color: blue;
    font-size: 18px;
    margin-right: 10px;
    transform: translateY();
}
footer .informations ul li h2{
    font-size: 18px;
    display: inline-block;
    margin-bottom: 10px;
    
}
footer .informations .moreinformations span{
    /* margin-top: 20px; */
    margin-left: 50px;
    line-height: 2;
    font-size: 13px;
    
}
footer .infor2 .informations2{
    width: 50%;
    margin-top: 50px;
    margin-left: 60px;
}
footer .infor2 .informations2 .logo{
    font-size: 58px;
    text-decoration: none;
    
    color: blue;
    margin-top: 200px;
    /* width: 40%; */
}
footer .infor2 .informations2 p{
    
    font-size:13px;
    width: 500px;
    color:black;
    margin-top:10px;
}
footer .infor2 .information3 {
    display: flex;
    justify-content: center;
    height: 100px;
}
footer .infor2 .information3 ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 50%;
    
    transform: translateY(-140%);
}
footer .infor2 .information3 ul li{
    margin-top: 5px;
    margin-right: 60px;
    
}
footer .infor2 .information3 ul li a{
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    
    border-radius: 20px;
    font-weight: 900;
    
}
footer .infor2 .information3 ul li a:hover{
    color: blue;
    transition: 1s ease;
    
}

footer .informations4{
    width: 50%;
    margin-left: 54%;
    transform: translateY(-140%);
    height: 100px;
    display: flex;
    
    margin-top: 25px;
}
footer .informations4 p{
    font-size: 13px;
    margin-right: 10px;
    padding: 10px;

}
footer .informations4 i{
    font-size: 28px;
    padding: 5px;
    color: blue;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}
footer .informations4 .debitcard{
    margin-left: 35px;
    
}
footer .informations4 .debitcard img{
    margin-right: 10px;
    width: 50px;
    height: 45px;
    /* margin-bottom: 15px; */
    transform: translateY(-4px);
}
footer .informations5{
    display: flex;
    justify-content: space-between;
    transform: translateY(-500%);
    margin-top: 30px;
}
footer .informations5 p{
    
    margin-left: 60px;
    /* margin-bottom: 5px; */
    font-size: 13px;
}
footer .informations5 a{
    font-size: 13px;
    margin-right: 60px;
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
    font-weight:600;
}
footer .informations5 a:hover{
    color: blue;
}

footer .line{
    height: 1px;
    width: 100%;
    background-color: darkgray;
}
footer .informations .lines{
    height: 170px;
    width: 1px;
    background-color: darkgray;
    margin-top: 45px;
}














