*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgba(211, 211, 211, 0.185); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}
header a.logo{
    font-size: 50px;
    text-decoration: none;
    margin-left: 70px;
    color: blue;
}
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li{
    margin-right: 50px;
}
header ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 6px 15px;
    border-radius: 20px;
    font-weight: 900;
}
header ul li a:hover{
    color: blue;
    transition: 1s ease;
}
.profil{
    margin-top: 15px;
    color: white;
    width: 100%;
    height: 300px;
    background-image: url('k.jpg');
    background-size: cover;
    background-position: center;
    
}
.profil h1{
    text-align: left;
    /* transform: translateX(10%); */
    margin-left: 50px;
    color: white;
    font-size: 50px;
    transform: translateY(200%);
}
.Cars{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 450px 450px 450px 450px 450px 450px 450px 450px 450px;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
}
.CitroënC3 ,.DaciaLogan,.RenaultClio,.ToyotaYaris,.VolkswagenPolo,.DaciaDuster,
.KiaSportage,.NissanQashqai,.RenaultKadjar,.VolkswagenTiguan,.HavalH6,.HondaAccord,.HyundaiKona,
.LexusRX,.ToyotaCorollaCross,.BMW7Series,.MercedesBenzCClass,.PorschePanamera,.RANGEROVERVELAR,
.VolkswagenTouareg,.BMWX5,.CUPRAFORMENTOR,.HYUNDAITUCSON,.Peugeot2008,.VolkswagenTRoc{
    /* padding: 10px; */
    height: 410px;
    width: 405px;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.3);
    /* margin-left: 5px; */
    /* margin-right: 15px; */
    /* border: 1px solid red; */
    border-radius: 10px;
    margin-top: 15px;
    transition: 0.5s ease;
    
}
.CitroënC3:hover ,.DaciaLogan:hover,.RenaultClio:hover,.ToyotaYaris:hover,
.VolkswagenPolo:hover,.DaciaDuster:hover,.KiaSportage:hover,.NissanQashqai:hover,.RenaultKadjar:hover,
.VolkswagenTiguan:hover,.HavalH6:hover,.HondaAccord:hover,.HyundaiKona:hover,.LexusRX:hover,.ToyotaCorollaCross:hover,
.BMW7Series:hover,.MercedesBenzCClass:hover,.PorschePanamera:hover,.RANGEROVERVELAR:hover,.VolkswagenTouareg:hover,
.BMWX5:hover,.CUPRAFORMENTOR:hover,.HYUNDAITUCSON:hover,.Peugeot2008:hover,.VolkswagenTRoc:hover{
        border: 0.1px solid blue;
        /* transform: scale(1); */

}
.CitroënC3 h2, .DaciaLogan h2,.RenaultClio h2,.ToyotaYaris h2,
.VolkswagenPolo h2,.DaciaDuster h2,.KiaSportage h2,.NissanQashqai h2,.RenaultKadjar h2,
.VolkswagenTiguan h2,.HavalH6 h2,.HondaAccord h2,.HyundaiKona h2,.LexusRX h2,.ToyotaCorollaCross h2,
.BMW7Series h2,.MercedesBenzCClass h2,.PorschePanamera h2,.RANGEROVERVELAR h2,.VolkswagenTouareg h2,
.BMWX5 h2,.CUPRAFORMENTOR h2,.HYUNDAITUCSON h2,.Peugeot2008 h2,.VolkswagenTRoc h2{
    margin-left: 15px;
    text-transform: uppercase;
    
}
.CitroënC3 h3,.DaciaLogan h3,.RenaultClio h3,.ToyotaYaris h3,.VolkswagenPolo h3,
.DaciaDuster h3,.KiaSportage h3,.NissanQashqai h3,.RenaultKadjar h3,.VolkswagenTiguan h3,
.HavalH6 h3,.HondaAccord h3,.HyundaiKona h3,.LexusRX h3,.ToyotaCorollaCross h3,.BMW7Series h3,
.MercedesBenzCClass h3,.PorschePanamera h3,.RANGEROVERVELAR h3,.VolkswagenTouareg h3,.BMWX5 h3,
.CUPRAFORMENTOR h3,.HYUNDAITUCSON h3,.Peugeot2008 h3,.VolkswagenTRoc h3{
    color: blue;
    margin-top: 15px;
    margin-left: 15px;
    text-transform: uppercase;

}
.CitroënC3 img,.DaciaLogan img,.RenaultClio img,.ToyotaYaris img,.VolkswagenPolo img,
.DaciaDuster img,.KiaSportage img,.NissanQashqai img,.RenaultKadjar img,.VolkswagenTiguan img,
.HavalH6 img,.HondaAccord img,.HyundaiKona img,.LexusRX img,.ToyotaCorollaCross img,.BMW7Series img,
.MercedesBenzCClass img,.PorschePanamera img,.RANGEROVERVELAR img,.VolkswagenTouareg img,.BMWX5 img,
.CUPRAFORMENTOR img,.HYUNDAITUCSON img,.Peugeot2008 img,.VolkswagenTRoc img{
    margin-left: 15px;
    margin-right: 15px;
    width: 360px;
    height: 250px;
}
.CitroënC3 .attributs,.DaciaLogan .attributs,.RenaultClio .attributs,.ToyotaYaris .attributs,
.VolkswagenPolo .attributs,.DaciaDuster .attributs,.KiaSportage .attributs,.NissanQashqai .attributs,
.RenaultKadjar .attributs,.VolkswagenTiguan .attributs,.HavalH6 .attributs,.HondaAccord .attributs,
.HyundaiKona .attributs,.LexusRX .attributs,.ToyotaCorollaCross .attributs,.BMW7Series .attributs,
.MercedesBenzCClass .attributs,.PorschePanamera .attributs,.RANGEROVERVELAR .attributs,
.VolkswagenTouareg .attributs,.BMWX5 .attributs,.CUPRAFORMENTOR .attributs,.HYUNDAITUCSON .attributs,
.Peugeot2008 .attributs,.VolkswagenTRoc .attributs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}
.CitroënC3 .reserve,.DaciaLogan .reserve,.RenaultClio .reserve,.ToyotaYaris .reserve,
.VolkswagenPolo .reserve,.DaciaDuster .reserve,.KiaSportage .reserve,.NissanQashqai .reserve,
.RenaultKadjar .reserve,.VolkswagenTiguan .reserve,.HavalH6 .reserve,.HondaAccord .reserve,
.HyundaiKona .reserve,.LexusRX .reserve,.ToyotaCorollaCross .reserve,.BMW7Series .reserve,
.MercedesBenzCClass .reserve,.PorschePanamera .reserve,.RANGEROVERVELAR .reserve,.VolkswagenTouareg .reserve,
.BMWX5 .reserve,.CUPRAFORMENTOR .reserve,.HYUNDAITUCSON .reserve,.Peugeot2008 .reserve,.VolkswagenTRoc .reserve{
    width: 350px;
    height: 40px;
    margin-top: 15px;
    margin-left: 25px;
    background-color: blue;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 10px;
}
.CitroënC3 .reserve a,.DaciaLogan .reserve a,.RenaultClio .reserve a,.ToyotaYaris .reserve a,
.VolkswagenPolo .reserve a,.DaciaDuster .reserve a ,.KiaSportage .reserve a,.NissanQashqai .reserve a,
.RenaultKadjar .reserve a,.VolkswagenTiguan .reserve a,.HavalH6 .reserve a,.HondaAccord .reserve a,
.HyundaiKona .reserve a,.LexusRX .reserve a,.ToyotaCorollaCross .reserve a,.BMW7Series .reserve a,
.MercedesBenzCClass .reserve a,.PorschePanamera .reserve a,.RANGEROVERVELAR .reserve a,
.VolkswagenTouareg .reserve a,.BMWX5 .reserve a,.CUPRAFORMENTOR .reserve a,.HYUNDAITUCSON .reserve a,
.Peugeot2008 .reserve a,.VolkswagenTRoc .reserve a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.CitroënC3 .reserve:hover,.DaciaLogan .reserve:hover,.RenaultClio .reserve:hover,
.ToyotaYaris .reserve:hover,.VolkswagenPolo .reserve:hover,.DaciaDuster .reserve:hover,
.KiaSportage .reserve:hover,.NissanQashqai .reserve:hover,.RenaultKadjar .reserve:hover,.VolkswagenTiguan .reserve:hover,
.HavalH6 .reserve:hover,.HondaAccord .reserve:hover,.HyundaiKona .reserve:hover,.LexusRX .reserve:hover,
.ToyotaCorollaCross .reserve:hover,.BMW7Series .reserve:hover,.MercedesBenzCClass .reserve:hover,
.PorschePanamera .reserve:hover,.RANGEROVERVELAR .reserve:hover,.VolkswagenTouareg .reserve:hover,.BMWX5 .reserve:hover,
.CUPRAFORMENTOR .reserve:hover,.HYUNDAITUCSON .reserve:hover,.Peugeot2008 .reserve:hover,.VolkswagenTRoc .reserve:hover{
    background-color: orange;
    
}
footer{
    margin-top: 70px;
    width: 100%;
    background-color: lightslategrey;
    /* height: auto; */
}
footer .informations ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: 200px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;

    box-sizing: border-box;
    
}
footer .informations ul li{
    list-style: none;
    /* height: 100vh; */
    padding: 20px;
    margin: 20px;
}
footer .informations ul li i{
    color: blue;
    font-size: 18px;
    margin-right: 10px;
    transform: translateY();
}
footer .informations ul li h2{
    font-size: 18px;
    display: inline-block;
    margin-bottom: 10px;
    
}
footer .informations .moreinformations span{
    /* margin-top: 20px; */
    margin-left: 50px;
    line-height: 2;
    font-size: 13px;
    
}
footer .infor2 .informations2{
    width: 50%;
    margin-top: 50px;
    margin-left: 60px;
}
footer .infor2 .informations2 .logo{
    font-size: 58px;
    text-decoration: none;
    
    color: blue;
    margin-top: 200px;
    /* width: 40%; */
}
footer .infor2 .informations2 p{
    
    font-size:13px;
    width: 500px;
    color:black;
    margin-top:10px;
}
footer .infor2 .information3 {
    display: flex;
    justify-content: center;
    height: 100px;
}
footer .infor2 .information3 ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 50%;
    
    transform: translateY(-140%);
}
footer .infor2 .information3 ul li{
    margin-top: 5px;
    margin-right: 60px;
    
}
footer .infor2 .information3 ul li a{
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    
    border-radius: 20px;
    font-weight: 900;
    
}
footer .infor2 .information3 ul li a:hover{
    color: blue;
    transition: 1s ease;
    
}

footer .informations4{
    width: 50%;
    margin-left: 54%;
    transform: translateY(-140%);
    height: 100px;
    display: flex;
    
    margin-top: 25px;
}
footer .informations4 p{
    font-size: 13px;
    margin-right: 10px;
    padding: 10px;

}
footer .informations4 i{
    font-size: 28px;
    padding: 5px;
    color: blue;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}
footer .informations4 .debitcard{
    margin-left: 35px;
    
}
footer .informations4 .debitcard img{
    margin-right: 10px;
    width: 50px;
    height: 45px;
    /* margin-bottom: 15px; */
    transform: translateY(-4px);
}
footer .informations5{
    display: flex;
    justify-content: space-between;
    transform: translateY(-500%);
    margin-top: 30px;
}
footer .informations5 p{
    
    margin-left: 60px;
    /* margin-bottom: 5px; */
    font-size: 13px;
}
footer .informations5 a{
    font-size: 13px;
    margin-right: 60px;
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
    font-weight:600;
}
footer .informations5 a:hover{
    color: blue;
}

footer .line{
    height: 1px;
    width: 100%;
    background-color: darkgray;
}
footer .informations .lines{
    height: 170px;
    width: 1px;
    background-color: darkgray;
    margin-top: 45px;
}